<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :zone %><br>
    <%= f.number_field :zone %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :transport %><br>
    <%= f.number_field :transport %>
  </div>
  <div class="field">
    <%= f.label :nightlife %><br>
    <%= f.number_field :nightlife %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.number_field :food %>
  </div>
  <div class="field">
    <%= f.label :green %><br>
    <%= f.number_field :green %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
