<%= form_for(@area, :html => { multipart: true }) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt:"Choose a category"}, {class:"btn btn-default dropdown-toggle"} %>
  </div>


  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :zone %><br>
    <%= f.number_field :zone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :transport %><br>
    <%= f.number_field :transport, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :nightlife %><br>
    <%= f.number_field :nightlife, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.number_field :food, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :green %><br>
    <%= f.number_field :green, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.number_field :published, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
