<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#3498db;color:#FFF;font-weight:bold;margin-bottom:0;">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
               <p style="diplay:inline;text-align:center;font-size:1em;font-weight:bold;letter-spacing:1px;">The best places to live and work in London. Join our <img src="https://cdn0.iconfinder.com/data/icons/picons-social/57/54-slack-32.png" style="color:#FFF" height="20px !important"><a id="hyper" href="chat.html">Slack community*</a></p>
          </div>
        </div>
      </div>
    </div>

<div class="jumbotron" style="height:300px;">
  <div class="container">
      <div class="row" style="margin-bottom:50px;">
        <div class="col-md-12">
          <h2>Find a neighbourhood in London</h2>
          <p>What kind of neighbourhood are you looking for?</p>
        </div>
      </div>

      <div class="row">
            <a class="btn btn-filter" id="region=North" onclick="updateUrl('region=North')" style="display:inline;">North London</a>
            <a class="btn btn-filter" id="region=East" onclick="updateUrl('region=East')" style="display:inline;">East</a>
            <a class="btn btn-filter" id="region=South" onclick="updateUrl('region=South')" style="display:inline;">South</a>
            <a class="btn btn-filter" id="region=West" onclick="updateUrl('region=West')" style="display:inline;">West</a>
          </br>
          </br>
          </br>
            <a class="btn btn-filter" id="zone=1" onclick="updateUrl('zone=1')" style="display:inline;">Zone 1</a>
            <a class="btn btn-filter" id="zone=2" onclick="updateUrl('zone=2')" style="display:inline;">Zone 2</a>
            <a class="btn btn-filter" id="zone=3" onclick="updateUrl('zone=3')" style="display:inline;">Zone 3</a>
            <a class="btn btn-filter" id="zone=4" onclick="updateUrl('zone=4')" style="display:inline;">Zone 4</a>
    </div>
  </div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>

    <div class="row">
      <% @areas.each do |area| %>
            
            <%= link_to area do %>
            <div class="col-md-4 col-xs-6">

                <div class="area-tile" id="diva_id" style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('<%= area.image.url %>') no-repeat center;background-size:cover;">
                      <div class="attr top-left">Zone <%= area.zone %></div>
                      <div class="attr top-right">£<%= area.cost %> / m</div>
                      <div class="attr area-title"><span class="title"><%= area.name %></span></br><span class="sub-title"><%= area.region %></span></div>
                </div>

                <!-- <div class="area-tile" id="divb_id" style="display:none" onmouseout="SwapDivs('diva_id','divb_id')">
                      <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= area.transport %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= area.transport %>0%;">
                              <%= area.transport %>
                            </div>
                      </div>
                      <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= area.nightlife %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= area.nightlife %>0%;">
                              <%= area.nightlife %>
                            </div>
                      </div>
                      <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= area.food %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= area.food %>0%;">
                              <%= area.food %>
                            </div>
                      </div>
                      <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= area.green %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= area.green %>0%;">
                              <%= area.green %>
                            </div>
                      </div>
                </div> -->
            </div>
            <% end %>
              
      <% end %>
    </div>
      <!-- <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-2">Name</th>
            <th class="col-md-1">Region</th>
            <th class="col-md-4">Zone</th>
            <th class="col-md-">Cost</th>
            <th>Description</th>
            <th class="col-md-1">Transport</th>
            <th class="col-md-1">Nightlife</th>
            <th class="col-md-1">Food</th>
            <th class="col-md-1">Green</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td><%= area.name %></td>
              <td><%= area.region %></td>
              <td><%= area.zone %></td>
              <td><%= area.cost %></td>
              <td><%= area.description %></td>
              <td><%= area.transport %></td>
              <td><%= area.nightlife %></td>
              <td><%= area.food %></td>
              <td><%= area.green %></td>
              <td><%= link_to 'Show', area %></td>
              <td><%= link_to 'Edit', edit_area_path(area) %></td>
              <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table> -->

<br>

<%= link_to 'New Area', new_area_path %>
  
<script>
      var url = document.location.href;
      
      function updateUrl(value){
        //get the info we need
        var current_url = url;
        var has_qs = current_url.indexOf('?') != -1;
        
        if (has_qs){
          var qs_place = current_url.indexOf('?')
          var url_start = current_url.split("").splice(0, qs_place).join("");
          var q_string = current_url.split("").splice(qs_place + 1, current_url.split("").length);
          var adding = current_url.indexOf(value) == -1;
          
          if (adding){
            q_string = q_string.join("") + "&" + value;
            url = url_start + "?" + q_string;
          }
          else{
            //check if its the only thing in the qs
            if (value.split("").length == q_string.length){
              url = url_start;
            }
            else{
              var v_place = q_string.join("").indexOf(value);
              if (v_place == 0){
                q_string = q_string.splice(value.split("").length + 1, q_string.length);
                url = url_start + "?" + q_string.join("");
              }
              else{
                var q_string_start = q_string.splice(0, v_place - 1).join("");
                var q_string_end = q_string.splice(value.length + 1, q_string.length - value.length + 1).join("");
                url = url_start + "?" + q_string_start + q_string_end;
              }
            }
          }
        }
        else{
          url = current_url + "?" + value;
        }
        
        document.location = url;
        console.log(url);
      }
      
      var pathArray1 = document.location.href.split('?');
      var pathArray2 = pathArray1[1].split('&');
      // console.log(pathArray);
      // console.log(pathArray2);
      for (i in pathArray2) {
        // console.log(pathArray2[i]);
        var selector = pathArray2[i];
        // console.log(selector);
        var element = document.getElementById(selector);
        // console.log(element);
        element.className = "btn-filteron";
      }

    </script>



<!-- the JavaScript -->
// <script type="text/javascript">

//   var url = document.location.href;

//   function myUrl(value) {
//     // console.log(url);
//     if (url) {
//       if (url.indexOf(value)  != -1) {
//         var place = url.indexOf(value);
//         var length = value.length;
//         url = url.split("");
//         // console.log(url);
//         url.splice(place, length);
//         url = url.join("");
//       }
//       else {
//         // adds value if URL doesn't contain it already
//         if (url.indexOf('?') == -1) {
//           console.log('has ?');
//           url = url + "?" + value;
//         }
//         else {
//           if (url.indexOf('&') == -1) {
//             console.log('has&');
//             url = url + "&" + value;
//           }
//           else {
//             url = url + value;
//           }  
//         }
//       }
//     }
//     else {
//       // if there is no URL then it sets the URL to value=thing passed in from button
//       url = value;
//     }
//     document.location = url;
//   }

// </script>
