<div class="container" style="padding-top:20px;">
  <div class="filters">
      <div class="row">
            <div class="col-sm-4">
              <div class="btn-group btn-group-lg filter-button-group" data-filter-group="zone" role="group" data-toggle="tooltip" data-placement="bottom" title="How far do you want to travel?">
                <button class="btn btn-filter button" data-filter=".zoneone">Zone 1</button>
                <button class="btn btn-filter button" data-filter=".zonetwo">Zone 2</button>
                <button class="btn btn-filter button" data-filter=".zonethree">Zone 3</button>
                <button class="btn btn-filter button" data-filter=".zonefour">Zone 4</button>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="btn-group btn-group-lg filter-button-group" data-filter-group="region" role="group" data-toggle="tooltip" data-placement="bottom" title="Where in London do you want to live?">
                <button class="btn btn-filter button" data-filter=".north" style="display:inline;">North</button>
                <button class="btn btn-filter button" data-filter=".south" style="display:inline;">South</button>
                <button class="btn btn-filter button" data-filter=".east" style="display:inline;">East</button>
                <button class="btn btn-filter button" data-filter=".west" style="display:inline;">West</button>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="btn-group btn-group-lg filter-button-group" data-filter-group="cost" role="group" data-toggle="tooltip" data-placement="bottom" title="How much do you want to pay?">
                <button class="btn btn-filter button" data-filter=".cheap" style="display:inline;">£</button>
                <button class="btn btn-filter button" data-filter=".affordable" style="display:inline;">££</button>
                <button class="btn btn-filter button" data-filter=".expensive" style="display:inline;">£££</button>
                <button class="btn btn-filter button" data-filter=".expensive" style="display:inline;">££££</button>
              </div>
            </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
              <div class="btn-group btn-group-lg filter-button-group" data-filter-group="type" role="group" aria-label="Basic example">
                <button class="btn btn-filter button" data-filter="" style="display:inline;">All</button>
                <button class="btn btn-filter button" data-filter=".safe" style="display:inline;">Safe<span class="filter-count hidden-xs"></span></button>
                <button class="btn btn-filter button" data-filter=".nightlife" style="display:inline;">dance<span class="filter-count hidden-xs"></span></button>
                <button class="btn btn-filter button" data-filter=".green" style="display:inline;">eat<span class="filter-count hidden-xs"></span></button> 
              </div>
        </div>
<!--         <div class="col-sm-6">
              <div class="btn-group btn-group-lg filter-button-group" data-filter-group="type" role="group" aria-label="Basic example">
                <button class="btn btn-filter button" data-filter="" style="display:inline;">All</button>
                <button class="btn btn-filter button" data-filter=".safe" style="display:inline;">Safe</button>
                <button class="btn btn-filter button" data-filter=".nightlife" style="display:inline;">Night</button>
                <button class="btn btn-filter button" data-filter=".green" style="display:inline;">Food</button> 
              </div>
        </div> -->
      </div>
  </br>
  </div>
      </br>
      </br>
      <div class="row grid">
          
          <% @areas.each do |area| %>
              <div class="col-md-4 col-xs-6 grid-item <%= area.cost < 600 ? 'cheap' : '' %> <%= area.cost > 900 ? 'expensive' : '' %> <%= area.green >= 7 ? 'green' : '' %> <%= area.nightlife >= 7 ? 'nightlife' : '' %> <%= area.zone === 1 ? 'zoneone' : '' %> <%= area.zone === 2 ? 'zonetwo' : '' %> <%= area.zone === 3 ? 'zonethree' : '' %> <%= area.category.crime >= 7 ? 'safe' : '' %> <%= area.region === 'North' ? 'north' : '' %> <%= area.region === 'South' ? 'south' : '' %> <%= area.region === 'East' ? 'east' : '' %> <%= area.region === 'West' ? 'west' : '' %>">
                    <%= link_to area do %>
                    <div class="area-tile" id="diva_id" style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('<%= area.image.url %>') no-repeat center;background-size:cover;">
                      <div class="area-inside">
                          <div class="attr top-left">Zone <%= area.zone %></div>
                          <div class="attr top-right">£<%= area.cost %> / m</div>
                          <div class="attr bottom-left"><%= area.region %></div>
                          <div class="attr bottom-right">14 mins</div>
                          <div class="attr area-title"><span class="title"><%= area.name %></span></br><span class="sub-title"><%= area.category.name %></span></div>
                      </div>
                    </div>
                    <% end %>
                </div>              
          <% end %>
      </div>

    <% if current_user.try(:admin?) %>
        <%= link_to 'New Area', new_area_path %>
    <% else %>
    <% end %>
</div>


  
<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item'
});

// store filter for each group
var filters = {};

var $filterButtons = $('.filters .btn');

updateFilterCounts();

$('.filters').on( 'click', '.button', function() {
  var $this = $(this);
  // get group key
  var $buttonGroup = $this.parents('.btn-group');
  var filterGroup = $buttonGroup.attr('data-filter-group');
  // set filter for group
  filters[ filterGroup ] = $this.attr('data-filter');
  // combine filters
  var filterValue = concatValues( filters );
  // set filter for Isotope
  $grid.isotope({ filter: filterValue });
  // console.log(filterValue);
  updateFilterCounts();
  console.log( filters );
});

$('.btn-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});

function updateFilterCounts()  {
  // get filtered item elements
  var itemElems = $grid.isotope('getFilteredItemElements');
  var $itemElems = $( itemElems );
  $filterButtons.each( function( i, button ) {
    var $button = $( button );
    var filterValue = $button.attr('data-filter');
    if ( !filterValue ) {
      // do not update 'any' buttons
      return;
    }
    var count = $itemElems.filter( filterValue ).length;
    $button.find('.filter-count').text( count );
  });
}

// flatten object by concatting values
function concatValues( obj ) {
  var value = '';
  for ( var prop in obj ) {
    value += obj[ prop ];
  }
  return value;
}

</script>