<!-- Main jumbotron for a primary marketing message or call to action -->
<!--     <div class="jumbotron" style="background-color:#3498db;color:#FFF;font-weight:bold;margin-bottom:0;">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
               <p style="diplay:inline;text-align:center;font-size:1em;font-weight:bold;letter-spacing:1px;">Got a question about living in London? Join our <img src="https://cdn0.iconfinder.com/data/icons/picons-social/57/54-slack-32.png" style="color:#FFF" height="20px !important"><a id="hyper" href="chat.html">Slack community</a></p>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div class="div" style="padding-top:50px;">
  <div class="container"> -->
<!--       <div class="row" style="margin-bottom:50px;">
        <div class="col-md-4">
            <div class="form-group">
              <label for="sel1">Borough</label>
              <select class="form-control" id="sel1">
                <option value="region=Hackney" id="region=Hackney">Hackney</option>
                <option value="region=Westminster" id="region=Hackney">East</option>
                <option>South</option>
                <option>West</option>
              </select>
            </div>
        </div>
      </div> -->

      

     <!-- <div class="row">
        <div class="col-sm-4">
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button class="btn btn-filter" id="region=Hackney" onclick="updateUrl('region=Hackney')" style="display:inline;">Hackney</button>
            <button class="btn btn-filter" id="region=Westminster" onclick="updateUrl('region=Westminster')" style="display:inline;">Westminster</button>
            <button class="btn btn-filter" id="region=South" onclick="updateUrl('region=South')" style="display:inline;">South</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button class="btn btn-filter" id="zone=1" onclick="updateUrl('zone=1')" style="display:inline;">Zone 1</button>
            <button class="btn btn-filter" id="zone=2" onclick="updateUrl('zone=2')" style="display:inline;">Zone 2</button>
            <button class="btn btn-filter" id="zone=3" onclick="updateUrl('zone=3')" style="display:inline;">Zone 3</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button class="btn btn-filter" id="cost=814" onclick="updateUrl('cost=814')" style="display:inline;">Cheap</button>
            <button class="btn btn-filter" id="zone=2" onclick="updateUrl('zone=2')" style="display:inline;">Affordable</button>
            <button class="btn btn-filter" id="zone=4" onclick="updateUrl('zone=4')" style="display:inline;">Expensive</button>
          </div>
        </div>
      </div>
  </div>
</div> -->

<div class="container">

  <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
              <label for="sel1">Browse Area:</label>
              <select class="form-control" id="category1" onchange="addCat()">
                <option>Select area</option>
                <%= Category.all.each do |category| %>
                    <option><%= link_to category.name, areas_path(category: category.name) %></option>
                <% end %>
              </select>
            </div>
        </div>
  </div>

  

  <p id="notice"><%= notice %></p>

    <% if @areas != 0 %>
        <h4> <%= @areas.count %> Areas Found</h4>
      </br>
    <% else  %>
        <span> No Areas Found</span>
    <% end %>

    <div class="row">
      <% @areas.each do |area| %>
            
            <%= link_to area do %>
            <div class="col-md-4 col-sm-6">

                <div class="area-tile" id="diva_id" style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('<%= area.image.url %>') no-repeat center;background-size:cover;">
                  <div class="area-inside">
                      <div class="attr top-left">Zone <%= area.zone %></div>
                      <div class="attr top-right">£<%= area.cost %> / m</div>
                      <div class="attr area-title"><span class="title"><%= area.name %></span></br><span class="sub-title"><%= area.category.name %></span></div>
                  </div>
                </div>
            </div>
            <% end %>
              
      <% end %>
    </div>
    <!-- <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-2">Name</th>
            <th class="col-md-1">Region</th>
            <th class="col-md-4">Zone</th>
            <th class="col-md-">Cost</th>
            <th>Description</th>
            <th class="col-md-1">Transport</th>
            <th class="col-md-1">Nightlife</th>
            <th class="col-md-1">Food</th>
            <th class="col-md-1">Green</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td><img src="<%= area.image.url %>" style="width:100%"></td>
              <td><%= area.name %></td>
              <td><%= area.region %></td>
              <td><%= area.zone %></td>
              <td><%= area.cost %></td>
              <td><%= area.description %></td>
              <td><%= area.transport %></td>
              <td><%= area.nightlife %></td>
              <td><%= area.food %></td>
              <td><%= area.green %></td>
              <td><%= link_to 'Show', area %></td>
              <td><%= link_to 'Edit', edit_area_path(area) %></td>
              <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table> -->

<% if current_user.try(:admin?) %>
          <%= link_to 'New Area', new_area_path %>
        <% else %>
          
        <% end %>


  
<script type="text/javascript">

function addCat() {
  var cat = document.getElementById("category1").value;

  var url = document.location.href;

  document.location.href = url + "?category=" + cat;
}
  


</script>



// <script>
//       var url = document.location.href;
      
//       function updateUrl(value){
//         //get the info we need
//         var current_url = url;
//         var has_qs = current_url.indexOf('?') != -1;
        
//         if (has_qs){
//           var qs_place = current_url.indexOf('?')
//           var url_start = current_url.split("").splice(0, qs_place).join("");
//           var q_string = current_url.split("").splice(qs_place + 1, current_url.split("").length);
//           var adding = current_url.indexOf(value) == -1;
          
//           if (adding){
//             q_string = q_string.join("") + "&" + value;
//             url = url_start + "?" + q_string;
//           }
//           else{
//             //check if its the only thing in the qs
//             if (value.split("").length == q_string.length){
//               url = url_start;
//             }
//             else{
//               var v_place = q_string.join("").indexOf(value);
//               if (v_place == 0){
//                 q_string = q_string.splice(value.split("").length + 1, q_string.length);
//                 url = url_start + "?" + q_string.join("");
//               }
//               else{
//                 var q_string_start = q_string.splice(0, v_place - 1).join("");
//                 var q_string_end = q_string.splice(value.length + 1, q_string.length - value.length + 1).join("");
//                 url = url_start + "?" + q_string_start + q_string_end;
//               }
//             }
//           }
//         }
//         else{
//           url = current_url + "?" + value;
//         }
        
//         document.location = url;
//         console.log(url);
//       }
      
//       var pathArray1 = document.location.href.split('?');
//       var pathArray2 = pathArray1[1].split('&');
//       // console.log(pathArray);
//       // console.log(pathArray2);
//       for (i in pathArray2) {
//         // console.log(pathArray2[i]);
//         var selector = pathArray2[i];
//         // console.log(selector);
//         var element = document.getElementById(selector);
//         // console.log(element);
//         element.className = "btn btn-filteron active";
//       }
//     </script>