<p id="notice"><%= notice %></p>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron img-overlay" style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('<%= @area.image.url %>') no-repeat center;background-position:0 -200px">
          <div class="container" style="text-align:center;height:50vh">

            <div class="row" style="color:#FFF;">
              <div class="col-sm-12">
                   <p style="font-size:4em;font-weight:bold;padding:100px 0 35px 0;"><%= @area.name %></p>
                   <p><%= @area.description %></p>
              </div>
            </div>
          </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p><%= @area.description %></p>
            <%= @area.zone %>
            <%= @area.cost %>
        </div>



        <div class="col-md-4">
            <div class="row">
                <table class="table table-responsive">
                    <tr>
                      <td class="col-md-6">Getting Around:</td>
                      <td class="col-md-6">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @area.transport %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.transport %>0%;">
                              <%= @area.transport %>
                            </div>
                          </div>
                      </td> 
                    </tr>

                    <tr>
                      <td class="col-md-6">Drinks & Nightlife:</td>
                      <td class="col-md-6">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @area.nightlife %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.nightlife %>0%;">
                              <%= @area.nightlife %>
                            </div>
                          </div>
                      </td> 
                    </tr>

                    <tr>
                      <td class="col-md-6">Food Scene:</td>
                      <td class="col-md-6">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @area.food %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.food %>0%;">
                              <%= @area.food %>
                            </div>
                          </div>
                      </td> 
                    </tr>

                    <tr>
                      <td class="col-md-6">Parks & Nature:</td>
                      <td class="col-md-6">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @area.green %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.green %>0%;">
                              <%= @area.green %>
                            </div>
                          </div>
                      </td> 
                    </tr>

                </table>

            </div>
          </div>
    </div>
</div>

<hr>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>

</div>