<p id="notice"><%= notice %></p>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron img-overlay" style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('<%= @area.image.url %>') no-repeat center;background-position:0;background-size:cover;">
  <div class="container" style="text-align:center;height:30vh">

    <div class="row" style="color:#FFF;">
      <div class="col-sm-12">
       <h1><%= @area.name %></h1>
       <p><%= @area.region %></p>
     </br>
     <button class="btn btn-joinchat" href="/chat.html">Join Chat</button>
   </div>
 </div>
</div>
</div>


<div class="container" style="padding-bottom:50px;">
  <div class="row">
    <div class="col-md-8 col-sm-6">
      <p><%= @area.description %>
      </div>
      <div class="col-md-4 col-sm-6 ratings">

        <label for="progress-bar">Transport</label> <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Time to city centre, transport options"></span>
        <div class="progress">
          <div class="progress-bar" id="rating" role="progressbar" aria-valuenow="<%= @area.transport %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.transport %>0%;">
            <%= @area.transport %>
          </div>
        </div>

        <label for="progress-bar">Nightlife <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Quality of nightlife, different scenes and number of venues"></span></label>
        <div class="progress">
          <div class="progress-bar" id="rating" role="progressbar" aria-valuenow="<%= @area.nightlife %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.nightlife %>0%;">
            <%= @area.nightlife %>
          </div>
        </div>

        <label for="progress-bar">Food & Drink <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Tooltip on right"></span></label>
        <div class="progress">
          <div class="progress-bar" id="rating" role="progressbar" aria-valuenow="<%= @area.food %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.food %>0%;">
            <%= @area.food %>
          </div>
        </div>
        <label for="progress-bar">Green Spaces <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Tooltip on right"></span></label>
        <div class="progress">
          <div class="progress-bar" id="rating" role="progressbar" aria-valuenow="<%= @area.green %>" aria-valuemin="0" aria-valuemax="10" style="width:<%= @area.green %>0%;">
            <%= @area.green %>
          </div>
        </div>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_area_path %>
        <% else %>
          <p>If you would like to submit a rating, contact x@x.com</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$(" #rating[aria-valuenow]").each(function() {
  if ($(this).attr('aria-valuenow') >= 7) {
            $(this).addClass('good'); // Or whatever
          }
        });

$(" #rating[aria-valuenow]").each(function() {
  if ($(this).attr('aria-valuenow') <=3) {
            $(this).addClass('bad'); // Or whatever
          }
        });

$(" #rating[aria-valuenow]").each(function() {
  if ($(this).attr('aria-valuenow') >3) {
            $(this).addClass('average'); // Or whatever
          }
        });


</script>